@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  --primary:#7dfdcd;
  --background:#111111;
  --foreground:#e7e7e7;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme inline{
  --color-primary:var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-drac-background: #282a36;
  --color-drac-current-line: #44475a;
  --color-drac-foreground: #f8f8f2;
  --color-drac-comment: #6272a4;
  --color-drac-cyan: #8be9fd;
  --color-drac-green: #50fa7b;
  --color-drac-orange: #ffb86c;
  --color-drac-pink: #ff79c6;
  --color-drac-purple: #bd93f9;
  --color-drac-red: #ff5555;
  --color-drac-yellow: #f1fa8c;
  --font-jetbrains:"JetBrains Mono", monospace;
}





::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}


.show-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  
}

.show-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(156, 156, 156);
}